<nav class="navbar navbar-expand-lg navbar-dark rak9">
<%= link_to 'DirectMart',root_path,class:"navbar-brand"%>
 
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
    <% if user_signed_in? && current_user.admin  %>
      <li class="nav-item">
      <%= link_to 'Add Product',new_product_path,class: "nav-link"%>
      </li>

      <li class="nav-item">
        <%= link_to 'Placed Products',home_placed_product_path,class: "nav-link"%>
      </li>
   <li class="nav-item">
        <%= link_to 'Customer Details',home_customer_detail_path,class: "nav-link"%>
      </li>
      <li class="nav-item">
         <%= link_to 'Products',products_path,class: "nav-link"%>
      </li>
      
      <li class="nav-item">
        <%= link_to "sign out", destroy_user_session_path,data: {"turbo-method": :delete}, class: "link-secondarysmooth" ,class: "nav-link"%>
      </li>
<%elsif user_signed_in? && current_user %>

    <li class="nav-item">
        <%= link_to 'Products',products_path,class: "nav-link"%>
      </li>
    
   
      <li class="nav-item">
        <%= link_to 'Order History',historys_orderhistory_path,class: "nav-link"%>
      </li>
     <li class="nav-item">
        <%= link_to "sign out", destroy_user_session_path,data: {"turbo-method": :delete}, class: "link-secondarysmooth" ,class: "nav-link"%>
      </li>
      
      
  <% else %>
<li class="nav-item">
      <%= link_to "sign up",new_user_registration_path ,class: "nav-link"%>
      </li>
     <li class="nav-item">
       <%= link_to "sign in",new_user_session_path,class: "nav-link"%>
      </li>
<% end %>




      
     </ul>
    <% if user_signed_in? %>
      <%= current_user.email %>
    <%end %>
  </div>
  
</nav>