


<table class="table table-striped table-hover table-bordered">
         <thead>
                 <tr>
                     <th>Order id</th>
                      <th>Product Id/Product Name</th>
                     <th>ordered at</th>
                     <th>subtotal</th>
                     
                     <th>order status</th>
                     
                     
                    
                    
                     <th></th>
                    
                 </tr>
         </thead>
       <tbody>

            <% @orderitems.each do |oitem| %>
                <% if oitem.order.user.id == current_user.id %>
                    <tr>
                        <td> <%= oitem.order.id %></td>
                         <td> <%= oitem.product.id %>/<%= oitem.product.name  %></td>
                        <td><%=  oitem.order.created_at %></td>
                        <td> <%= oitem.order.subtotal  %></td>
                       
                        <td> 
                            <% if  @delivers.exists?(:order_id=> oitem.order.id, :product_id => oitem.product.id) %>
                                <span style="color:Green">Delivered</span>
                            <% else %>
                                 <% if  @ships.exists?(:order_id=> oitem.order.id, :product_id => oitem.product.id) %>
                                    <span style="color:orange">Shipped</span>
                                <% else %>
                                    Order Placed
                                <% end %>
                            <% end %>
                        </td>
                    </tr>
                <% end %>
            <% end %>
        </tbody> 
        </table> 