<%if user_signed_in? && current_user %>
<table class="table table-striped table-hover table-bordered">
         <thead>
                 <tr>
                     <th>Name</th>
                     
                    
                     <th>Price</th>
                     
                    
                     <th>quantity</th>
                     
                    <th>Total</th>
                    
                   
                 </tr>
           </thead>
          <tbody>
                <% @order_items.each do |item| %>

                <tr>
                <td><%= item.product.name  %></td>
                 <td><%=  item.product.price%></td>
                  <td><%=  item.quantity%></td>
                 
                <%= form_for item do |f| %>
                

                <%= f.hidden_field :product_id,:value => item.product.id %>
                
            
  
<!--<%= f.submit "Update Card"%> -->




<% end %>
<td><%= item.total %></td>

</tr>

<% end %>
</tbody>
</table>

            
 

<div style="float:right"><p >Delivery charge: 40 Rs.</p>
<p ><h6>Amount to be Paid :<%= current_order.subtotal1+40 %></h6></p><div>
<%= link_to "Place order" ,root_path,class:"btn btn-success"%>

<%end %>
