    <div class="excel-report">
        <% if user_signed_in? && current_user.admin %>
            <%= form_tag(products_path(format: :xlsx), :method => "get") do %>
                <%= label_tag(:q, "Download report for (YYYY-MM):") %>
                <%= text_field_tag(:q) %>
                <%= submit_tag "Download the Report" , :class=>"btn btn-default rak9"%>
            <% end %>
        <% end %>
</div>
<br>
<br>
<br>
 <% if user_signed_in?%>
<div id="card">
<%= render 'products/card' %>
</div>
<table class="table table-striped table-hover table-bordered table-sortable">
         <thead>
                 <tr>
                     
                    <th><%= link_to "Name", :sort => "name"%></th>
                     <th><%= link_to "Description", :sort => "description"%></th>
                    
                     <th><%= link_to "Price", :sort => "price"%></th>
                     <th>Image</th>
                     
                     <th></th>
                     <% if user_signed_in? && !current_user.admin%>
                     <th>quantity</th>
                     <% end %>
                      <% if user_signed_in? && current_user.admin %>
                     <th>Stock</th>
                     <% end %>
                 </tr>
         </thead>
         <tbody>
         <% @products.each do |product| %>

                <tr>
                
                 <td><%= product.name  %></td>
                 <td><%=  product.description%></td>
                 
                 <td><%=  product.price %></td>
                 
                 <td><img class="image_resize"src="<%= product.image  %>" height="100px" /></td>
                 <td><%= link_to "Show", product,class:"btn btn-default rak15" %></td>
                 <% if user_signed_in? && current_user.admin %>
                 <td><%= product.stock  %></td>
                          <% if product.user.id == current_user.id  %>
                            <td><%= button_to "Destroy", product,method: :delete,class:"btn btn-danger" %></td>
                            <% else %>
                             <td><input type="button" value="Destroy" class="btn btn-danger" disabled/></td>
                            <% end %>
                  <% elsif user_signed_in?   %>
                 <td > <%= form_for @order_item, remote: true do |f|  %>
                    <%= f.hidden_field :product_id, :value => product.id %>
                    <%= f.number_field :quantity, :value => 1, :min => 1 %>
                    <td><%= f.submit "Add to Cart"  ,class:"btn btn-default rak9"%></td>
                <% end %>
                <% end %>
                 </tr>
                <% end %>    
         </tbody>         
</table>
<br>
<% end %>

<!--



<% @products.each do |product| %>
<div class="grid-system ">
  
<div class="card grid13" style="width:17rem;border:1px solid #5f2b19">
  <img src="<%= product.image  %>" class="image-pattern" class="card-img-top" alt="image loading">
  <div class="card-body">
    <h5 class="card-title head-styling"><%= product.name  %></h5>
    
                 
   
    <%= link_to "Show", product,class:"btn btn-default rak9" %>
  </div>
</div>
<% end %>

  </div>-->
