


<table class="table table-striped table-hover table-bordered table-sortable">
         <thead>
                 <tr>
                     <th>Name</th>
                     <th>Description</th>
                    
                     <th>Price</th>
                     <th></th>
                     <% if user_signed_in? && !current_user.admin%>
                     <th>quantity</th>
                     <% end %>
                      <% if user_signed_in? && current_user.admin %>
                     <th>Stock</th>
                     <% end %>
                 </tr>
         </thead>
         <tbody>
         <% @products.each do |product| %>
                <tr>
                
                 <td><%= product.name  %></td>
                 <td><%=  product.description%></td>
                 
                 <td><%=  product.price %></td>
                 
                 <%# <td><%= product.image  %>
                 <td><%= link_to "Show", product,class:"btn btn-secondary" %></td>
                 <% if user_signed_in? && current_user.admin %>
                 <td><%= product.stock  %></td>
                  <td><%= button_to "Destroy", product,method: :delete,class:"btn btn-danger" %></td>
                  <% elsif user_signed_in?  %>
                 <td > <%= form_for @order_item, remote: true do |f|  %>
                    <%= f.hidden_field :product_id, :value => product.id %>
                    <%= f.number_field :quantity, :value => 1, :min => 1 %>
                    <td ><%= f.submit "Add to Cart" ,class:"btn btn-success" %></td>
                    <%# <%= f.hidden_field :user_id , value: current_user.id%>  
                <% end %></td>
                <% end %>
                 </tr>
                <% end %>    
         </tbody>         
</table>
<br>
<div id="card">
<%= render 'products/card' %>
</div>
<script>

</script>



<!--
 <% if user_signed_in? && !current_user.admin %>
<%= link_to "#{current_order.order_items.size} items with a value of Rs #{current_order.subtotal}",cards_path %>
<% end %> -->
