
<center>
<div class="jumbotron jumnew">
<h6 class="display-4 jumhead"><small>Id:&nbsp;<%= @product.id %></small></h6>
  <h1 class="display-4 jumfont"> <%= @product.name %></h1>
  <p class="lead jumdesc"> <%= @product.description %></p>
   <img class="jumimg" src="<%= @product.image %>"  />
   
            
  <hr class="my-4">
 
 <span> <b>Price:</b> <%= @product.price %>.00</span>&nbsp;&nbsp;
  
  <div><b>Added_at:</b><%= @product.created_at %></div>
  
</div>


<% if user_signed_in? && current_user.admin %>
<%= link_to "Edit", edit_product_path(@product),class:"btn btn-secondary" %> 
<%= link_to "Back", products_path,class:"btn btn-dark" %>
<%  end%>
  



 </center> 
 <h3>Feedbacks</h3>
 <hr>
<% @feedback.each do |feedback| %>
<div class="alert alert-secondary rak20" role="alert">
<%= feedback.feedback %>
</div>




<% end %>



